.footer {
    display: flex;
    flex-direction: row;
    background: #90F4E2;
    padding: 0 2%;
}

.footer > div {
    flex: 1;
}

.footer h4 {
    text-align: left;
}

.footer ul {
    list-style: none;
    text-align: left;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
}

.footer .column1 {
    text-align: left;
}

